<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <!-- Faculdade -->
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/slcl</property>
    <!-- Casa
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/SLCL</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/SLCL</property> -->
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping class="br.edu.utfpr.cm.slcl.entitys.Professor"/>
    <mapping class="br.edu.utfpr.cm.slcl.entitys.Coordenador"/>
    <mapping class="br.edu.utfpr.cm.slcl.entitys.Bibliotecario"/>
    <mapping class="br.edu.utfpr.cm.slcl.entitys.Evento"/>
    <mapping class="br.edu.utfpr.cm.slcl.entitys.Livro"/>
    <mapping class="br.edu.utfpr.cm.slcl.entitys.Curso"/>
    <mapping class="br.edu.utfpr.cm.slcl.entitys.Disciplina"/>
    <mapping class="br.edu.utfpr.cm.slcl.entitys.PedidoDeLivro"/>
    <mapping class="br.edu.utfpr.cm.saa.entidades.Usuario"/>
    <mapping class="br.edu.utfpr.cm.saa.entidades.Papel"/>
    <mapping class="br.edu.utfpr.cm.saa.entidades.Sistema"/>
  </session-factory>
</hibernate-configuration>