#menuPrincipal{
    padding: 5px;
    top: 5px;
}

button{
    position: fixed;
    top: 5px;
    right: 5px;
}

h5{
    margin: 4px;
    position: fixed;
    top: 5px;
    right: 400px;
}

#pesquisa{
    position: fixed;
    top: 5px;
    right: 80px;
}

input{
    margin-top: 0px;
    margin-bottom: 3px;
}
